a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

button {
  padding: 15px;
  border-radius: 15px;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 25px;
  background: lightgrey;
  white-space: normal;
}

button:hover {
  cursor: pointer;
}
