<div class="pageContainer">
  <h3>Audit Clients</h3>
  <mat-grid-list cols="6" rowHeight="150px">
    <mat-grid-tile *ngFor="let client of clients">
      <button mat-button routerLink="client/{{client.id}}">{{client.name}}</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button routerLink="/client/create">
        <mat-icon>add</mat-icon>
        Add new client
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
