<div class="pageContainer">
  <h3>Modules</h3>
  <mat-grid-list cols="6" rowHeight="150px">
    <mat-grid-tile>
      <button mat-button routerLink="active-directory">Active Directory Module</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button routerLink="">AX</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button routerLink="">MAP</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button routerLink="">ISS</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button routerLink="">MSOL</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button routerLink="">IAM</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
