<div>
  <form [formGroup]="rulesForm">
    <div formArrayName="rulesArray">
      <div *ngFor="let r of rulesForm.get('rulesArray').controls; let i=index" class="qualification-rule-card">
        <div [formGroupName]="i">
          <button mat-button class="delete-rule-button" (click)="removeRule(i)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-form-field class="rule-input-1">
            <input matInput placeholder="Id" formControlName="qualificationId" />
          </mat-form-field>
          <mat-form-field class="rule-input-1">
            <input matInput placeholder="Type" formControlName="type" />
          </mat-form-field>
          <mat-form-field class="rule-input-1">
            <input matInput placeholder="Operator" formControlName="operator" />
          </mat-form-field>
          <mat-form-field class="rule-input-1">
            <input matInput placeholder="Object" formControlName="object" />
          </mat-form-field>
          <mat-form-field class="rule-input-1">
            <input matInput placeholder="Condition" formControlName="condition" />
          </mat-form-field>
          <mat-form-field class="rule-input-1">
            <input matInput placeholder="Source" formControlName="source" />
          </mat-form-field>
          <mat-divider style="width: 100%"></mat-divider>
          <mat-form-field class="rule-input-2">
            <input matInput placeholder="Set User Count To" formControlName="setUserCountTo" />
          </mat-form-field>
          <mat-form-field class="rule-input-2">
            <input matInput placeholder="Set User State To" formControlName="setUserStateTo" />
          </mat-form-field>
          <mat-form-field class="rule-input-2">
            <input matInput placeholder="Set User Status To" formControlName="setUserStatusTo" />
          </mat-form-field>
          <mat-form-field class="rule-input-2">
            <input matInput placeholder="Set Exclusion Reason To" formControlName="setExclusionReasonTo" />
          </mat-form-field>
          <mat-form-field class="rule-input-2">
            <mat-label>Business Unit</mat-label>
            <mat-select formControlName="businessUnitId">
              <mat-option *ngFor="let bu of businessUnits" [value]="bu.id">
                {{bu.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="rule-input-2" *ngIf="isDeviceRule()">
            <input matInput placeholder="Set Device State To" formControlName="setDeviceStateTo" />
          </mat-form-field>
          <mat-form-field class="rule-input-2" *ngIf="isDeviceRule()">
            <input matInput placeholder="Set Device Status To" formControlName="setDeviceStatusTo" />
          </mat-form-field>
          <mat-form-field class="rule-input-2" *ngIf="isDeviceRule()">
            <input matInput placeholder="Set Office Eligible Device To" formControlName="setOfficeEligibleDeviceTo" />
          </mat-form-field>
          <mat-form-field class="rule-input-2" *ngIf="isDeviceRule()">
            <input matInput placeholder="Set Observation Type To" formControlName="setObservationTypeTo" />
          </mat-form-field>
          <mat-form-field class="rule-input-2" *ngIf="isDeviceRule()">
            <input matInput placeholder="Set Observation To" formControlName="setObservationTo" />
          </mat-form-field>
          <mat-form-field class="rule-input-2" *ngIf="isDeviceRule()">
            <input matInput placeholder="Set Action To" formControlName="setActionTo" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <div>
    <button mat-raised-button color="primary" (click)="addRule()">Add Rule</button>
    <button mat-raised-button color="primary" (click)="saveRules()">Save Rules</button>
  </div>
</div>
