<div class="pageContainer">
  <mat-tab-group>
    <mat-tab label="Project Configuration">
      <ng-template matTabContent>
        <app-project-config-tab
          [fetchConfiguration]="fetchProjectConfiguration"
          [saveConfiguration]="saveProjectConfiguration"
          [existingConfig]="existingConfiguration"
          [fetchBusinessUnits]="fetchBusinessUnits"
          [businessUnits]="businessUnits"
          [deleteBusinessUnit]="deleteBusinessUnit">
        </app-project-config-tab>
      </ng-template>
    </mat-tab>
    <!-- User -->
    <mat-tab label="User Classification Rules">
      <ng-template matTabContent>
        <app-ad-classification-rules-tab
          [fetchRules]="fetchUserClassificationRules"
          [saveRule]="saveClassificationRule"
          [deleteRule]="deleteClassificationRule"
          [projectId]="projectId"
          [defaultRuleType]="userRuleType"
          [rules]="userClassificationRules"
          [businessUnits]="businessUnits"></app-ad-classification-rules-tab>
      </ng-template>
    </mat-tab>
    <mat-tab label="User Qualification Rules">
      <ng-template matTabContent>
        <app-ad-qualification-rules-tab
          [fetchRules]="fetchUserQualificationRules"
          [saveRule]="saveQualificationRule"
          [deleteRule]="deleteQualificationRule"
          [projectId]="projectId"
          [defaultRuleType]="userRuleType"
          [rules]="userQualificationRules"
          [businessUnits]="businessUnits"></app-ad-qualification-rules-tab>
      </ng-template>
    </mat-tab>
    <mat-tab label="User Import Result">
      <ng-template matTabContent>
        <app-data-import-result-tab
          [dataImportResult]="userInventoryImportResult"
          [fetchImportResult]="fetchUserInventoryImportResult"
          [dataType]="'user'"></app-data-import-result-tab>
      </ng-template>
    </mat-tab>
    <!-- User -->
    <!-- Device -->
    <mat-tab label="Device Classification Rules">
      <ng-template matTabContent>
        <app-ad-classification-rules-tab
          [fetchRules]="fetchDeviceClassificationRules"
          [saveRule]="saveClassificationRule"
          [deleteRule]="deleteClassificationRule"
          [projectId]="projectId"
          [defaultRuleType]="deviceRuleType"
          [rules]="deviceClassificationRules"
          [businessUnits]="businessUnits"></app-ad-classification-rules-tab>
      </ng-template>
    </mat-tab>
    <mat-tab label="Device Qualification Rules">
      <ng-template matTabContent>
        <app-ad-qualification-rules-tab
          [fetchRules]="fetchDeviceQualificationRules"
          [saveRule]="saveQualificationRule"
          [deleteRule]="deleteQualificationRule"
          [projectId]="projectId"
          [defaultRuleType]="deviceRuleType"
          [rules]="deviceQualificationRules"
          [businessUnits]="businessUnits"></app-ad-qualification-rules-tab>
      </ng-template>
    </mat-tab>
    <mat-tab label="Device Import Result">
      <ng-template matTabContent>
        <app-data-import-result-tab
          [dataImportResult]="deviceInventoryImportResult"
          [fetchImportResult]="fetchDeviceInventoryImportResult"
          [dataType]="'device'"></app-data-import-result-tab>
      </ng-template>
    </mat-tab>
    <!-- Device -->
  </mat-tab-group>
</div>
