button {
  margin: 10px
}

.classification-rule-card {
  border-width: 1px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  padding: 15px 15px 0px 15px;
  margin-top: 5px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.delete-rule-button {
  top: 5px;
  position: absolute;
  right: 5px;
}

.rule-input {
  width: 23%;
  margin-right: 2%;
}
