<div>
  <form [formGroup]="rulesForm">
    <div formArrayName="rulesArray">
      <div *ngFor="let r of rulesForm.get('rulesArray').controls; let i=index" class="classification-rule-card">
        <div [formGroupName]="i">
          <button mat-button class="delete-rule-button" (click)="removeRule(i)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-form-field class="rule-input">
            <input matInput placeholder="Type" formControlName="type" />
          </mat-form-field>
          <mat-form-field class="rule-input">
            <input matInput placeholder="Operator" formControlName="operator" />
          </mat-form-field>
          <mat-form-field class="rule-input">
            <input matInput placeholder="Object" formControlName="object" />
          </mat-form-field>
          <mat-form-field class="rule-input">
            <input matInput placeholder="Source" formControlName="source" />
          </mat-form-field>
          <mat-divider style="width: 100%"></mat-divider>
          <mat-form-field class="rule-input">
            <input matInput placeholder="Set Role To" formControlName="setRoleTo" />
          </mat-form-field>
          <mat-form-field class="rule-input">
            <input matInput placeholder="Set Type To" formControlName="setTypeTo" />
          </mat-form-field>
          <mat-form-field class="rule-input">
            <input matInput placeholder="Set Class To" formControlName="setClassTo" />
          </mat-form-field>
          <mat-form-field class="rule-input">
            <input matInput placeholder="Set State To" formControlName="setStateTo" />
          </mat-form-field>
          <mat-form-field class="rule-input">
            <mat-label>Business Unit</mat-label>
            <mat-select formControlName="businessUnitId">
              <mat-option *ngFor="let bu of businessUnits" [value]="bu.id">
                {{bu.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
            <mat-form-field class="rule-input" *ngIf="isDeviceRule()">
              <input matInput placeholder="Classification Target" formControlName="classificationTarget" />
            </mat-form-field>
            <mat-form-field class="rule-input" *ngIf="isDeviceRule()">
              <input matInput placeholder="Device Type" formControlName="deviceType" />
            </mat-form-field>
            <mat-form-field class="rule-input" *ngIf="isDeviceRule()">
              <input matInput placeholder="Set Environment To" formControlName="setEnvironmentTo" />
            </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <div>
    <button mat-raised-button color="primary" (click)="addRule()">Add Rule</button>
    <button mat-raised-button color="primary" (click)="saveRules()">Save Rules</button>
  </div>
</div>
