/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0px;
}

h1,h2,h3,h4 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mainContainer {
  padding: 10px;
}

.pageContainer {
  padding-left: 30px;
  padding-right: 30px;
}
