.config-input {
  width: 32%;
  margin: 0.3%;
  padding: 5px;
}

.business-unit-panel {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  margin-bottom: 10px;
}

.business-unit-input {
  width: 19%;
  margin: 0.5%;
}

.accordion-main {
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
}

.expansion-panel-header-description {
  flex-basis: 0;
  justify-content: flex-end;
  align-items: center;
}
