<div *ngIf="existingConfig">
  <form [formGroup]="configForm" style="margin-top: 10px;">
    <mat-form-field class="config-input">
      <input matInput placeholder="Parent" formControlName="parent" />
    </mat-form-field>
    <mat-form-field class="config-input">
      <input matInput placeholder="Managed Manufacturers" formControlName="managedManufacturers" />
    </mat-form-field>
    <mat-form-field class="config-input">
      <input matInput placeholder="Date Format" formControlName="dateFormat" />
    </mat-form-field>
    <mat-form-field class="config-input">
      <input matInput placeholder="Reference Date" type="date" formControlName="referenceDate" />
    </mat-form-field>
    <mat-form-field class="config-input">
      <input matInput placeholder="Snapshot Date" type="date" formControlName="snapshotDate" />
    </mat-form-field>
    <mat-form-field class="config-input">
      <input matInput placeholder="File Path" formControlName="filePath" />
    </mat-form-field>
    <div *ngIf="businessUnits !== null" formArrayName="businessUnitArray" style="margin-bottom: 10px;">
      <mat-accordion *ngFor="let bu of configForm.get('businessUnitArray').controls; let i=index"
        class="accordion-main">
        <mat-expansion-panel [expanded]="businessUnits[i].id === '00000000-0000-0000-0000-000000000000'"
          class="business-unit-panel" [formGroupName]="i">
          <mat-expansion-panel-header class="accordion-main">
            <mat-panel-title class="accordion-main">{{businessUnits[i].name}}</mat-panel-title>
            <mat-panel-description class="expansion-panel-header-description">
              <mat-icon (click)="deleteClick(i)">delete</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="business-unit-input">
            <input matInput placeholder="Business unit name" formControlName="name">
          </mat-form-field>
          <mat-form-field class="business-unit-input">
            <input matInput placeholder="City name" formControlName="city">
          </mat-form-field>
          <mat-form-field class="business-unit-input">
            <input matInput placeholder="Country name" formControlName="country">
          </mat-form-field>
          <mat-form-field class="business-unit-input">
            <input matInput placeholder="Continent name" formControlName="continent">
          </mat-form-field>
          <mat-form-field class="business-unit-input">
            <input matInput placeholder="Region name" formControlName="region">
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div>
      <button mat-button (click)="addBusinessUnit()">Add Business Unit</button>
      <button mat-raised-button color="primary" (click)="saveConfig()">Save Configuration</button>
    </div>
  </form>
</div>
