<div class="pageContainer">
  <h3>Projects</h3>
  <mat-grid-list cols="6" rowHeight="150px">
    <mat-grid-tile *ngFor="let project of projects">
      <button mat-button routerLink="project/{{project.id}}">{{project.name}}</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button routerLink="/project/create">
        <mat-icon>add</mat-icon>
        Add new project
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
