button {
  margin: 10px;
}

table {
  width: 100%;
}

td, th {
  border: black;
  border-style: solid;
  border-width: 1px;
}

.spinner {
  display: flex;
  justify-content: center;
}

mat-paginator {
  float: right;
  display: inline-block;
}

.stats {
  display: inline-block;
}

label {
  margin-right: 15px;
}
