<div>
  <div *ngIf="isLoading" class="spinner">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="getImportResult()">Import Data</button>
    <div *ngIf="isDeviceData() && deviceState.length > 0 && deviceStatus.length > 0 && deviceType.length > 0" class="stats">
      <label style="font-weight: bold">Device State</label>
      <label *ngFor="let x of deviceState">{{x.key}}:{{x.value}}</label>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <label style="font-weight: bold">Device Status</label>
      <label *ngFor="let y of deviceStatus">{{y.key}}:{{y.value}}</label>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <label style="font-weight: bold">Device Type</label>
      <label *ngFor="let z of deviceType">{{z.key}}:{{z.value}}</label>
    </div>
    <div *ngIf="isUserData() && userState.length > 0 && userStatus.length > 0" class="stats">
      <label style="font-weight: bold">User State</label>
      <label *ngFor="let x of userState">{{x.key}}:{{x.value}}</label>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <label style="font-weight: bold">User Status</label>
      <label *ngFor="let y of userStatus">{{y.key}}:{{y.value}}</label>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 50, 100]" #paginator></mat-paginator>
  </div>
<div style="overflow: auto; width: 100%;">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
      <div *ngIf="column === 'id'">
        <th mat-header-cell *matHeaderCellDef style="padding: 10px;">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
        </th>
      </div>
      <div *ngIf="column !== 'id'">
        <th mat-header-cell *matHeaderCellDef style="padding: 10px;">
          <div mat-sort-header>
            <h3>{{column | titlecase }}</h3>
          </div>
          <mat-form-field style="width: 100%;">
            <input matInput (keyup)="applyFilter($event.target.value, column)" placeholder="Filter" />
          </mat-form-field>
        </th>
      </div>
      <td mat-cell *matCellDef="let row" style="padding: 5px;">
        <div *ngIf="column === 'id'">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"></mat-checkbox>
        </div>
        <div *ngIf="column !== 'id'">{{row[column]}}</div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
  </table>
</div>
</div>
